.dashboard-layout {
    --sidebar-width: 300px;
    --static-header-height: 73px;
    --static-header-margin: 1rem;
    --static-header-margin-bottom: 0.5rem;
    --static-header-padding-inline: 1.5rem;
    --dynamic-content-padding-inline: 1rem;
    --dynamic-content-padding-block: 1rem;

    height: 100vh;
    width: 100%;
    overflow: hidden;

    .dashboard-layout-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;

        margin-left: 0px;

        .dashboard-layout-sidebar-container {
            width: var(--sidebar-width);
            height: 100vh;
            max-height: 100vh;

            position: relative;
            z-index: 1000;

            background-color: #643cc7;

            overflow-x: hidden;
            overflow-y: auto;

            .sidebar-container-app-logo {
                height: var(--static-header-height);
                margin-bottom: var(--static-header-margin-bottom);
                padding: 1em;

                user-select: none;
                -webkit-user-select: none;

                .app-logo-container {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .app-logo-container-app-logo {
                        border-radius: 50%;
                        width: 50px;
                        height: auto;
                        -webkit-user-drag: none;
                    }
                }
            }
        }
    }

    .dashboard-layout-main-content {
        padding-left: var(--sidebar-width);

        .main-content-static-header {
            height: var(--static-header-height);
            margin: var(--static-header-margin);
            margin-bottom: calc(var(--static-header-margin-bottom) + var(--dynamic-content-padding-block));
            padding-inline: var(--static-header-padding-inline);

            display: flex;
            align-items: center;
        }

        .main-content-dynamic-content {
            height: calc(
                100vh - var(--static-header-height) - var(--static-header-margin) - var(--static-header-margin-bottom) -
                    var(--dynamic-content-padding-block)
            );
            max-height: calc(
                100vh - var(--static-header-height) - var(--static-header-margin) - var(--static-header-margin-bottom) -
                    var(--dynamic-content-padding-block)
            );
            overflow-x: hidden;
            overflow-y: auto;
            padding-inline: var(--dynamic-content-padding-inline);
            padding-bottom: var(--dynamic-content-padding-block);
        }
    }
}
// .static-header-header-actions {
//     flex-grow: 1;
//     height: 100%;
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
// }
