.explorer-navbar {
    .explorer-navbar-logo-container {
        width: 40px;

        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    .nav-link {
        &:hover {
            background-color: #724fca !important;
        }
    }

    .nav-link.active {
        background-color: #724fca !important;
        color: white !important;
    }
}
