.portfolio-network-logo-container {
    width: 45px;

    img {
        width: 100%;
        height: auto;

    }
}

.portfolio-balance-logo-container {
    width: 50px;

    img {
        width: 100%;
        height: auto;

    }
}